/*Estiliza칞칚o do Corpo da P치gina*/
body{
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1;
    font-family: 'Tahoma', "Arial";
}
/*Estiliza칞칚o da sess칚o HEADER da p치gina*/
header{
    background-image: url('hamburgueres.jpg');
    /*background:linear-gradient(#708090, #2F4F4F);*/
    width: 100%     ;
    background-size: 200px;
    padding: 20px 0;
}
/*Estiliza칞칚o da sess칚o NAV (navega칞칚o) da p치gina*/
nav{
    position: absolute;
    top: 170px;
    right: 0%;

}
nav li{
    display: inline;
    margin: 0 0 0 50px;
}
nav a{
    text-transform: uppercase;
    color: orange;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{
    color: 	#ffa500;
    text-decoration: underline;
}
/*Estiliza칞칚o das listas da p치gina*/
ul{
    list-style: none;
}
/*Estiliza칞칚o do Logotipo*/
.logo_caixa{
    width: 90%;
    position: relative;
    margin: auto;
}
.logo{
    width: 340px;
    height: 340px;
    border-radius: 50px;
    margin: 0 -60px;
}
.banner{
    width: 100%;
}
/*Estiliza칞칚o da 치rea "Sobre"*/

.burger{
    width: 15%;
    float: left;
    margin: 0 20px 20px 0;
}
.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}
.principal{
    width: 90%;
    margin: 0 auto;
    padding: 3em 0;
    background-color: white;
    text-align: justify;
    font-family: 'Arial';
    /*text-transform: uppercase;*/
}
.principal strong{
    font-weight: bold;
}
/*Estiliza칞칚o do Mapa*/
.map{
    padding: 3em 0;
    background: linear-gradient(#c57d56, #582417);
}
.mapa-conteudo{
    width: 940px;
    margin: 0 650px;
}
.map p{
    margin: 0 0 2em;
    text-align: center;
}
/*츼rea Benef칤cios e V칤deo*/
.beneficios{
    padding: 3em 0;
    background: #8d4925;
}
.conteudo-beneficio{
    width: 640px;
    margin: 0 auto;
}
.lista-beneficio{
    width: 50%;
    display: inline-block;
    vertical-align: top;
}
.img-beneficios{
    width: 25%;
    opacity: 1;
    transition: 400ms;
    box-shadow: 10px 10px 5px 0px black;
}
.img-beneficios:hover{
    opacity: 0.7;
}
.itens{
    line-height: 1.5;
}
.itens:before{
    content: "游꼢";  
}
.itens:first-child{
    font-weight: bold;
}
.video{
    width: 560px;
    margin: 2em auto;
}
nav a:hover{
    color: orange;
    text-decoration: underline;
}
footer{
    text-align: center;
    background-image: url('hamburgueres.jpg');
   color: white;
}